/* globals.css */
html {
  height: 100%;
}
body {
  background: black;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9; /* Fondo claro */
  color: #333; /* Color de texto principal */
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.logout-button {
  position: absolute;
  top: 20px; /* Distancia desde el borde superior */
  right: 20px; /* Distancia desde el borde derecho */
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: darkred;
}
